# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
*.egg

.idea/
__pycache__/



# Sphinx documentation
docs/build/


# Environments
.venv
venv/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

